#generateaudio

# flask
# boto3
# gtts

#whisper
# Flask
# boto3
# torch
# transformers
# torchaudio
# librosa


#record
sounddevice
numpy
wavio
pydub
flask_uploads
flask
openai
openai-whisper
boto3
transformers
torchaudio
librosa
soundfile
pydub
whisper
flask-cors